*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: .5rem;
    background-color: black;
    width: 100%;
}
header h1{
    color: whitesmoke;
    font-family: "Underdog";
    font-size: 2.5rem;
    text-align: center;
}
#navigation-bar{
    display: flex;
    gap: 3vw;
    justify-content: center;
    background-color: black;
}
.image-button{
    align-items: center;
    display: flex;
    padding: .5rem;
    gap: 1vw;
    justify-content: center;
    transition: transform 0.3s ease;
}
.image-button:hover{
    transform: scale(1.2);
}
.image-button img{
    width: 4vw;
    height: auto;
}
.image-button a {
    position: absolute;
    font-family: "Underdog", sans-serif;
    font-size: 2rem;
    letter-spacing: .125vw;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 1);
}
.image-button a:hover{
    color: green;
    text-decoration: underline;
}
#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
#main-content #scrollimg{
    width: 100%;
}
#big-letter{
    color: whitesmoke;
    text-shadow: 10px 10px 5px black;
    position: absolute;
    top: 70vh;
    left: 20vw;
}
#big-letter h1{
    font-family: "Underdog", sans-serif;
    font-size: 15vw;
}
#first-paragraph{
    color: whitesmoke;
    font-size: 1.25rem;
    padding: 1rem;
    position: absolute;
    width: 90%;
    max-width: 50vw;
    height: 28vh;
    top: 75vh;
    left: 35vw;
    background-color: rgba(0, 0, 0, .5);
}
#main-article{
    color: whitesmoke;
    font-size: 1.25rem;
    padding: 10px;
    position: absolute;
    width: 100%;
    max-width: 70vw;
    height: 200vh;
    top: 103vh;
    left: 15vw;
    background-color: rgba(0, 0, 0, .5);
}

/* @media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }
    .image-button img {
        width: 30px;
    }
} */